USE [master]
GO
/****** Object:  Database [DailyScrum]    Script Date: 9/2/2017 6:31:52 PM ******/
CREATE DATABASE [DailyScrum]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DailyScrum', FILENAME = N'C:\Projects\Scrum\Database\DailyScrum.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DailyScrum_log', FILENAME = N'C:\Projects\Scrum\Database\DailyScrum_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DailyScrum].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DailyScrum]
GO
USE [DailyScrum]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 9/2/2017 6:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reports]    Script Date: 9/2/2017 6:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](4000) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Submit] [datetime] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/2/2017 6:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [nvarchar](50) NOT NULL,
	[NationalCode] [varchar](11) NULL,
	[Password] [nvarchar](4000) NOT NULL,
	[Firstname] [nvarchar](150) NULL,
	[Lastname] [nvarchar](150) NULL,
	[IsScrumMaster] [bit] NOT NULL,
	[RelatedProjectId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([Id], [Name]) VALUES (1, N'test')
INSERT [dbo].[Projects] ([Id], [Name]) VALUES (2, N'testt')
INSERT [dbo].[Projects] ([Id], [Name]) VALUES (3, N'ttest')
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([Id], [Title], [Description], [Submit], [ProjectId], [Username]) VALUES (1, N'1', N'1', CAST(N'1998-06-06T00:00:00.000' AS DateTime), 1, N'admin')
INSERT [dbo].[Reports] ([Id], [Title], [Description], [Submit], [ProjectId], [Username]) VALUES (2, N'2', N'2', CAST(N'1999-09-09T00:00:00.000' AS DateTime), 1, N'user')
INSERT [dbo].[Reports] ([Id], [Title], [Description], [Submit], [ProjectId], [Username]) VALUES (3, N'www', N'www', CAST(N'2017-09-02T06:19:23.540' AS DateTime), 2, N'admin')
SET IDENTITY_INSERT [dbo].[Reports] OFF
INSERT [dbo].[Users] ([Username], [NationalCode], [Password], [Firstname], [Lastname], [IsScrumMaster], [RelatedProjectId]) VALUES (N'admin', N'123', N'86F7E437FAA5A7FCE15D1DDCB9EAEAEA377667B8', N'MohammadReza', N'Tayyebi', 1, 1) -- password: a
INSERT [dbo].[Users] ([Username], [NationalCode], [Password], [Firstname], [Lastname], [IsScrumMaster], [RelatedProjectId]) VALUES (N'user', N'321', N'12DEA96FEC20593566AB75692C9949596833ADC9', N'FUser', N'Lll', 0, NULL) -- password: user
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsScrumMaster]  DEFAULT ((0)) FOR [IsScrumMaster]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Projects]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Projects] FOREIGN KEY([RelatedProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Projects]
GO
USE [master]
GO
